<div class="sticky-toolbar">
  <mat-toolbar color="primary">
    <span class="brand"><a routerLink="/home">Andile Store</a></span>
    <div class="spacer"></div>
    <a mat-button routerLink="/home">Home</a>
    <a mat-button *ngIf="!userIsAdmin && userIsAuthenticated" matBadge="{{cartCount}}" [matBadgeHidden]="cartCount > 0 ? false : true" 
    matBadgeColor="accent" routerLink="/cart">
      <mat-icon>shopping_cart</mat-icon>Cart
    </a>
    <a mat-button *ngIf="userIsAuthenticated" [matMenuTriggerFor]="menu">Welcome, {{username | titlecase}}</a>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onLogOut()">
        <mat-icon>exit_to_app</mat-icon>
        Logout</button>
    </mat-menu>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>
