/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
   margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
   color: #dadada;
   background-color: #2a282c;
}

a {
  color: rgba(255,255,255,.7);
  text-decoration: none;
}

a:hover {
  color: #fff;
}